/*The stylesheet for index.html*/
image {
  padding: 0px;
}

p{
  font-family: verdana;
}

#menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 0%;
}

.column{
  text-align:left;
  padding-left: 6vw;
  padding-right: 3vw;
  width:30%;
}

.column p{
  align:center;
}

.column img{
  display:block;
  margin:auto;
}

#resources{
  text-align:center;
  margin-top:20px;
  background-color: white;
  padding-top: 10px;
}

#resourcetitle{
  font-size:36pt;
}

#aboutus{
  background-color:#eff5ff;
  padding: 10pt;
  margin-top: 20pt;
}

#imagetext{
  position: absolute;
  top: 5vw;
  left: 20vw;
  font-size: 5vw;
  color: black;
  background-color: #ffeded;
  width: 25vw;
  text-align: center;
  float: left;
}

.hiddenlink{
  text-decoration: none;
  color: black;
}

.bigimage{
  padding-top: 30px;
  z-index:1;
  height: 30vw;
}

#headerbar{
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  background-color: #eff5ff;
  padding: 0px;
  position:relative;
  top:0px;
  border:0px;
}

.menuitem {
  list-style-type: none;
  float: left;
  display: block;
  text-align:center;
  padding: 0px 15px;
  text-decoration: none;
  color: black;
  font-size: 16pt;
}

li a:active {
  background-color: #e24848;
}

#menu{
  display:table;
margin: 0 auto;
align-self:center;
vertical-align: 150%;
}

.menuitem:hover {
  background-color: #ff7777;
}

.post{background-color: #Eff5ff}

h2 {
  text-align: center;
  font-family:verdana;
}

h3 {
  position: relative;
  left: 25%
}

h4 {
  text-align: center;
}

p {
  position: relative;
  font-size: 16pt;
  padding: 10pt;
}

.footer{
  background-color: #ffeded;
  margin-bottom: 0px;
}

.list {
  position: relative;
  left: 25%
}

#foot {
  font-size: 9pt;
  position: relative;
  left: 25%;
}

#content{
  background-color: #Eff5ff
}

h1 {
  padding: 0px;
  margin:0px;
  font-family:verdana;
}

body {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
